*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  font-size: 2rem;
  background: linear-gradient(to right, rgb(31, 179, 134), rgb(40, 22, 197));
}

.calc{
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: minmax(120px, auto) repeat(5, 70px);
  box-shadow: 20px 25px 30px rgba(0, 0, 0, 0.6);
}

.screen{
  grid-column: 1/-1;
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.89);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.4rem;
  word-wrap: break-word;
  word-break: break-all;
}

.sub_output{
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.65);
}

.main_output{
  font-size: 1.9rem;
}

.text-color{
  color: orangered;
}

button{
  border: 0.2px solid rgba(255,255, 255, 0.1);
  outline: none;
  color: #fff;
  background: #000;
  cursor: pointer;
  font-size: 1.7rem;
  transition: all 0.2s;
}

.btn-bg{
  grid-column: span 2;
}

button:hover{
  background: rgba(0,0,0, 0.9);
  border: 0.2px solid rgba(255,255, 255, 0.5);
}
